.friendInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friendAvatar {
  margin-bottom: 20px;
}
.friendName {
  font-size: 24px;
  margin-bottom: 10px;
}
.statusOnline {
  color: green;
  font-size: 18px;
}

.statusOffline {
  color: red;
  font-size: 18px;
}
